html{
	font-size: 20px;
	height: auto;
	width: auto;
}
body{
	background-image: url('hans-eiskonen.jpg');
	background-size:auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	align-content:center;

	

}

.startowa {
	
	margin-top: 45%;
	font-weight: bold;
	text-shadow: 0.8em;
	font-family:'Merriweather';
	color: #E5C447;
	font-size:3em;
	flex-wrap:wrap;
	justify-content: center;


	/*overflow:auto;*/


}
.startowa:hover{
	font-weight: 700;
}
.back{
   justify-content:center;
   flex-direction:row;
   margin: 10px; 

}
.container{
	
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items:center;
	align-content:center;

}
.btn-danger{
	transition: 0.4s;
	border-radius: 45%;

}
.btn-danger:hover{
	transform: scale(1.1);
 
}
img{
	width: 7.5em;
	height: 4em;
	transition: 1s;
}
img:hover{
	width: 8em;
	height: 4.5em;
	transition: 1s;

	
}
.first:hover{
 background-image: url('james-connolly.jpg');
 transition: 1s;
	
}